/* Reference CSS Reset by Andy Bell and Grace Snow
https://andy-bell.co.uk/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-heading: black;
  --color-text: black;
  --color-bg: white;
  --color-navBg: white;
  --card-imageBg: #e2f6f5;
  --color-footerBg: black;
  --color-footerText: white;
  --color-footerSvg: black;
}

[data-theme=dark] {
  --color-heading: white;
  --color-text: white;
  --color-bg: black;
  --color-navBg: black;
  --card-imageBg: #e2f6f5;
  --color-footerBg: white;
  --color-footerText: black;
  --color-footerSvg: white;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color-bg);
}

p {
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.header {
  background-color: var(--color-navBg);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  display: none;
  width: 100%;
  padding-top: 47px;
  padding-bottom: 10px;
  background-color: white;
}
@media (min-width: 768px) {
  .header {
    display: block;
  }
  .header__content {
    margin: 0 auto;
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  .header__content {
    max-width: 900px;
  }
}
@media (min-width: 1280px) {
  .header__content {
    max-width: 1100px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__header-link {
  text-decoration: none;
  color: var(--color-text);
  font-family: "Oxygen mono", monospace;
  font-size: 1.5rem;
}
.nav__list {
  display: flex;
  list-style-type: none;
  font-size: 1.125rem;
}
.nav__list-item:not(:first-of-type) {
  margin-left: 40px;
}
.nav__link {
  text-decoration: none;
  color: var(--color-text);
}
.nav__link--email {
  font-size: 1rem;
  border: 1px solid var(--color-text);
  padding: 4px 11px;
  border-radius: 7px;
}
@media (min-width: 1024px) {
  .nav__list-item:not(:first-of-type) {
    margin-left: 55px;
  }
}

.section {
  width: 320px;
  margin: 0 auto;
  padding-top: 116px;
}
.section--intro {
  padding-top: 82px;
  width: 326px;
  margin: 0 auto 30px auto;
}
.section__heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.section__text {
  padding-top: 47px;
  font-size: 1.125rem;
}
.section__text--technical {
  text-align: center;
}
@media (min-width: 375px) {
  .section {
    width: 368px;
  }
}
@media (min-width: 576px) {
  .section {
    width: 500px;
  }
  .section--intro {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .section {
    width: 690px;
  }
  .section--intro {
    margin-top: 60px;
  }
}
@media (min-width: 1024px) {
  .section {
    width: 900px;
  }
  .section--intro {
    margin-top: 0px;
  }
  .section--skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__heading--technical {
    width: 358px;
  }
  .section__text--technical {
    width: 484px;
  }
}
@media (min-width: 1280px) {
  .section {
    width: 1100px;
  }
}

.intro__name {
  font-size: 1.25rem;
  font-weight: 500;
}
.intro__job {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 65px;
}
.intro__image-container {
  display: none;
}
@media (min-width: 576px) {
  .intro {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .intro {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .intro__name {
    font-size: 2rem;
    font-weight: 500;
  }
  .intro__job {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 30px;
  }
  .intro__image-container {
    display: block;
  }
}

.about-me__image {
  max-width: 300px;
  height: auto;
  padding-top: 47px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .about-me {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr;
  }
  .about-me__image-container {
    grid-column: 1/5;
    grid-row: 1/6;
    overflow: hidden;
  }
  .about-me__heading {
    grid-column: 6/9;
    grid-row: 1/2;
    text-align: left;
  }
  .about-me__text {
    grid-column: 6/13;
    grid-row: 2/6;
  }
  .about-me__image {
    width: 100%;
    height: auto;
    padding-top: 0px;
  }
}
@media (min-width: 1024px) {
  .about-me__image-container {
    grid-column: 1/5;
    grid-row: 1/6;
    overflow: hidden;
  }
  .about-me__heading {
    grid-column: 6/9;
    grid-row: 2/3;
    text-align: left;
  }
  .about-me__text {
    grid-column: 6/13;
    grid-row: 3/6;
  }
}

.skills-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}
.skills-box__item {
  justify-self: center;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-box__text {
  width: 100%;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 25px;
}
@media (min-width: 1024px) {
  .skills-box {
    grid-template-columns: repeat(9, 1fr);
  }
}

.projects__container {
  margin-top: 28px;
  display: grid;
  row-gap: 64px;
}
@media (min-width: 768px) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
}

.project-card {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card__imageBg {
  height: 305px;
  background-color: var(--card-imageBg);
  display: flex;
  align-items: end;
  padding-left: 25px;
}
.project-card__image {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 225px;
}
.project-card__text-content {
  text-align: left;
}
.project-card__framework {
  margin-top: 39px;
  font-size: 1rem;
  font-weight: 600;
}
.project-card__title {
  font-size: 2.375rem;
  font-weight: 600;
}
.project-card__description {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 23px;
}
.project-card__links {
  margin-top: 18px;
}
.project-card__button {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 19px;
  border-radius: 7px;
}
.project-card__button--last {
  margin-left: 23px;
}
@media (min-width: 375px) {
  .project-card {
    width: 375px;
  }
}
@media (min-width: 768px) {
  .project-card {
    width: 340px;
  }
}
@media (min-width: 1024px) {
  .project-card {
    width: 440px;
  }
}

.footer {
  background-color: var(--color-footerBg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 54px;
  padding-bottom: 53px;
  margin-top: 81px;
}
.footer__links {
  display: flex;
}
.footer__link {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link:not(:first-of-type) {
  margin-left: 11px;
}
.footer__svg {
  color: var(--color-footerSvg);
}
.footer__para {
  color: var(--color-footerText);
  display: inline-block;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .footer {
    padding: 45px 87px 65px 119px;
  }
  .footer__content {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .footer__para {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .footer__content {
    max-width: 900px;
  }
}
@media (min-width: 1280px) {
  .footer__content {
    max-width: 1100px;
  }
}
