/* Reference CSS Reset by Andy Bell and Grace Snow
https://andy-bell.co.uk/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-heading: black;
  --color-text: black;
  --color-bg: white;
  --card-imageBg: #e2f6f5;
  --color-footerBg: black;
  --color-footerText: white;
  --color-footerSvg: black;
}

[data-theme=dark] {
  --color-heading: white;
  --color-text: white;
  --color-bg: black;
  --card-imageBg: #e2f6f5;
  --color-footerBg: white;
  --color-footerText: black;
  --color-footerSvg: white;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color-bg);
}

p {
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.main {
  padding: 82px 0;
}

.section {
  width: 373px;
  margin: 0 auto;
  padding-top: 116px;
}
.section__heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.section__text {
  padding-top: 47px;
  font-size: 1.125rem;
}
.section__text--technical {
  text-align: center;
}

.intro__name {
  font-size: 1.25rem;
  font-weight: 500;
}
.intro__job {
  font-size: 4rem;
  font-weight: 600;
  padding-top: 65px;
}
.intro__image-container {
  display: none;
}

.about-me__image {
  max-width: 300px;
  height: auto;
  padding-top: 47px;
  margin: 0 auto;
}

.skills-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}
.skills-box__item {
  justify-self: center;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-box__text {
  width: 100%;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 25px;
}

.projects__container {
  margin-top: 28px;
  display: grid;
  gap: 64px;
}

.project-card__imageBg {
  width: 100%;
  height: 305px;
  background-color: var(--card-imageBg);
  display: flex;
  align-items: end;
}
.project-card__image {
  border-radius: 6px 6px 0 0;
  width: 330px;
  height: 225px;
  margin-left: 25px;
}
.project-card__framework {
  margin-top: 39px;
  font-size: 1rem;
  font-weight: 600;
}
.project-card__title {
  font-size: 2.375rem;
  font-weight: 600;
}
.project-card__description {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 23px;
}
.project-card__links {
  margin-top: 18px;
}
.project-card__button {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 19px;
  border-radius: 7px;
}
.project-card__button--last {
  margin-left: 23px;
}

.footer {
  background-color: var(--color-footerBg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 53px;
}
.footer__links {
  display: flex;
  margin-top: 54px;
}
.footer__link {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link:not(:first-of-type) {
  margin-left: 11px;
}
.footer__svg {
  color: var(--color-footerSvg);
}
.footer__para {
  color: var(--color-footerText);
  display: inline-block;
  margin-top: 32px;
}
