@use "./variables" as vars;

body {
  font-family: vars.$font-primary;
  font-size: vars.$font-size;
  font-weight: vars.$font-weight;
  background-color: var(--color-bg);
}

p {
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}
