@use "./reset.scss";
@use "./base";
@use "./accessibility";
@use "./media";
@use "./variables" as vars;

.header {
  background-color: var(--color-navBg);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  position: fixed;
  display: none;
  width: 100%;
  padding-top: 47px;
  padding-bottom: 10px;

  @include media.respond-md {
    display: block;

    &__content {
      margin: 0 auto;
      max-width: 700px;
    }

    &__themeToggle {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include media.respond-lg {
    &__content {
      max-width: 900px;
    }
  }

  @include media.respond-xl {
    &__content {
      max-width: 1100px;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // for toggleThemeBtn next to Edward Pau 
  &__header {
    display: flex;
    gap: 20px;
  }

  &__header-link {
    text-decoration: none;
    color: var(--color-text);
    font-family: vars.$font-secondary;
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    list-style-type: none;
    font-size: 1.125rem;
  }

  &__list-item:not(:first-of-type) {
    margin-left: 40px;
  }

  &__link {
    text-decoration: none;
    color: var(--color-text);

    &--email {
      font-size: 1rem;
      border: 1px solid var(--color-text);
      padding: 4px 11px;
      border-radius: 7px;
    }
  }

  @include media.respond-lg {
    &__list-item:not(:first-of-type) {
      margin-left: 55px;
    }
  }
}

.section {
  width: 320px;
  margin: 0 auto;
  padding-top: 116px;

  &--intro {
    padding-top: 82px;
    width: 326px;
    margin: 0 auto 30px auto;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  &__text {
    padding-top: 47px;
    font-size: 1.125rem;

    &--technical {
      text-align: center;
    }
  }

  @include media.respond-xsm {
    width: 368px;
  }

  @include media.respond-sm {
    width: 500px;

    &--intro {
      width: 480px;
    }
  }

  @include media.respond-md {
    width: 690px;
    &--intro {
      margin-top: 60px;
    }
  }

  @include media.respond-lg {
    width: 900px;

    &--intro {
      margin-top: 0px;
    }

    &--skills {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__heading {
      &--technical {
        width: 358px;
      }
    }
    &__text {
      &--technical {
        width: 484px;
      }
    }
  }

  @include media.respond-xl {
    width: 1100px;
  }
}

.intro {
  &__name {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__job {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 65px;
  }

  &__image-container {
    display: none;
  }

  @include media.respond-sm {
    text-align: center;
  }

  @include media.respond-lg {
    text-align: left;
    display: flex;
    align-items: center;

    &__name {
      font-size: 2rem;
      font-weight: 500;
    }

    &__job {
      font-size: 4rem;
      font-weight: 600;
      margin-top: 30px;
    }

    &__image-container {
      display: block;
    }
  }
}

.about-me {
  &__image {
    max-width: 300px;
    height: auto;
    padding-top: 47px;
    margin: 0 auto;
  }
  @include media.respond-md {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr;

    &__image-container {
      grid-column: 1 / 5;
      grid-row: 1 /6;
      overflow: hidden;
    }

    &__heading {
      grid-column: 6 / 9;
      grid-row: 1 / 2;
      text-align: left;
    }

    &__text {
      grid-column: 6 / 13;
      grid-row: 2/6;
    }

    &__image {
      width: 100%;
      height: auto;
      padding-top: 0px;
    }
  }

  @include media.respond-lg {
    &__image-container {
      grid-column: 1 / 5;
      grid-row: 1 /6;
      overflow: hidden;
    }

    &__heading {
      grid-column: 6 / 9;
      grid-row: 2 / 3;
      text-align: left;
    }

    &__text {
      grid-column: 6 / 13;
      grid-row: 3/6;
    }
  }
}

.skills-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;

  &__item {
    justify-self: center;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    width: 100%;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 25px;
  }
  @include media.respond-lg {
    grid-template-columns: repeat(9, 1fr);
  }
}

.projects {
  &__container {
    margin-top: 28px;
    display: grid;
    row-gap: 64px;
  }

  @include media.respond-md {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
    }
  }
}

.project-card {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__imageBg {
    height: 305px;
    background-color: var(--card-imageBg);
    display: flex;
    align-items: end;
    padding-left: 25px;
  }

  &__image {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 225px;
  }

  &__text-content {
    text-align: left;
  }

  &__framework {
    margin-top: 39px;
    font-size: 1rem;
    font-weight: 600;
  }
  &__title {
    font-size: 2.375rem;
    font-weight: 600;
  }
  &__description {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 23px;
  }
  &__links {
    margin-top: 18px;
  }
  &__button {
    display: inline-block;
    border: 1px solid black;
    padding: 10px 19px;
    border-radius: 7px;
    &--last {
      margin-left: 23px;
    }
  }

  @include media.respond-xsm {
    width: 375px;
  }

  @include media.respond-md {
    width: 340px;
  }
  @include media.respond-lg {
    width: 440px;
  }
}

.footer {
  background-color: var(--color-footerBg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 54px;
  padding-bottom: 53px;
  margin-top: 81px;

  &__links {
    display: flex;
    // margin-top: 54px;
  }
  &__link {
    width: 45px;
    height: 45px;
    background-color: var(--color-footerSvgBg);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link:not(:first-of-type) {
    margin-left: 11px;
  }

  &__svg {
    color: var(--color-footerSvg);
  }
  &__para {
    color: var(--color-footerText);
    display: inline-block;
    margin-top: 32px;
  }

  @include media.respond-md {
    padding: 45px 87px 65px 119px;
    &__content {
      width: 100%;
      max-width: 900px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
    &__para {
      margin-top: 0;
    }
  }

  @include media.respond-lg {
    &__content {
      max-width: 900px;
    }
  }

  @include media.respond-xl {
    &__content {
      max-width: 1100px;
    }
  }
}
